<% if report.class_name.nil? %>
<style type="text/css">
  .dynamic_report .report_title {
    font-size:16pt;
    font-weight:bold;
    margin:10px 0px;
  }
  .dynamic_report .report_sub_title {
    font-size:14pt;
    color:black;
    margin:10px 0px;
  }
  .dynamic_report table tr th {
    color: white;
    background: gray;
    padding:5px;
  }
  .dynamic_report table tr td {
    border: 1px solid black;
    padding:3px 15px;
  }
  .dynamic_report .report_charts {
    width:100%;
  }

  .dynamic_report .report_chart {
    margin:15px;
  }
  
  .dynamic_report .subreport_row td {
    padding: 10px 10px 10px 20px;
    background-color: #FFFFCC;
    font-size: 95%;
  }
  .dynamic_report .subreport table tr td {
    border: 1px dotted #CCCC99;
    padding:3px 5px;
    background-color: white;
  }
  .dynamic_report .subreport table tr th {
    color: black;
    background: #CCCCCC;
    padding:3px;
  }

</style>
<% end %>

<div id="<%= report.class_name %>" class="dynamic_report">
  <%= "<div class='report_title'>#{report.title}</div>" if report.title %>
  <%= "<div class='report_sub_title'>#{report.sub_title}</div>" if report.sub_title %>
  <table class="report" border="0" cellpadding="0" cellspacing="0">
    <thead class="report_header">
      <tr class="report_header_row">
      <% report.columns.each do |column| %>
        <th>
        <% if column.is_a?(Hash) %>
        <% if column.keys.include?(:heading) %>
        <%= options[:titleize] ? titleize(column[:heading]) : column[:heading] %>
        <% else %>
        <%= options[:titleize] ? titleize(column[:column]) : column[:column] %>
        <% end %>
        <% else %>
        <%= options[:titleize] ? titleize(column) : column %>
        <% end %>
        </th>
        <% end %>
        </tr>
        </thead>
        <tbody class="report_body">
        <% report.records.each do |record| %>
          <tr class="report_row">
          <% report.columns.each do |column| %>
            <td>
            <%= (options[:commas] == true) ? commify(linkcheck(record,column)) : linkcheck(record,column) %>
            </td>
            <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>

  <div class="report_charts">
  <% report.charts.to_a.each do |chart| %>
    <span class="report_chart">
    <%=  "<img src='#{chart_url(chart,report)}' alt='#{chart.name}'>" %>
    </span>
  <% end %>
  </div>
</div>
